<!doctype html>
html(lang="en")

    include ../includes/head.pug
    
    body

        include ../includes/adminMenu.pug

        .content
            block content

        include ../includes/script.pug