footer.footer-area.margin-top-60
    .footer-main
        .container
            .row.footer-row
                .col-md-3.col-lg-3.mt-md-0.mt-9.footer-main
                    .widget-item
                        h4.widget-title Müşteri Servisi
                        ul.widget-nav
                            li  
                                a(href="/sikca-sorulan-sorular") Sık sorulan sorular
                            li  
                                a(href="") İade ve Değişim
                            li  
                                a(href="") Kargo Takibi
                            li  
                                a(href="") Hakkımızda
                            li  
                                a(href="") İletişim
                .col-md-3.col-lg-3.mt-md-0.mt-9.footer-main
                    .widget-item
                        h4.widget-title Sözleşmeler
                        ul.widget-nav
                            li  
                                a(href="") Üyelik Sözleşmesi
                            li  
                                a(href="") Gizlilik Politikası
                            li  
                                a(href="") Kişisel Verilerin K.K.
                            li  
                                a(href="") Mesafeli Satış Sözleşmesi
                           
                .col-md-3.col-lg-3.mt-md-0.mt-9.footer-main
                    .widget-item
                        h4.widget-title Sosyal Medya Hesaplarımız
                        .widget-social
                            a(href="")
                                i.fa-brands.fa-tiktok(style="font-size:21px")
                            a(href="")
                                i.fa.fa-instagram(style="font-size:21px")  
                            a(href="")
                                i.fa.fa-facebook(style="font-size:21px") 



                .col-md-3.col-lg-3.mt-md-0.mt-9.footer-main
                    .widget-item
                        h4.widget-title Bültenimize Abone Olun
                        p.widget-item-desc Kampanya ve indirimleri kaçırmayın
                        .input-box
                            input.widget-item-mail-input.form-control
                            a.widget-item-mail-div.widget-item-mail-btn
                                i.fa-regular.fa-paper-plane(style="color: #fcfcfc;")

