extends ../layouts/main-layout.pug

block content      
    form(action="/new-password" method="POST")
        input(type='hidden' name='_csrf' value=`${csrfToken}`)
        input(type='hidden' name='userId' value=`${userId}`)
        input(type='hidden' name='passwordToken' value=`${passwordToken}`)

        .form-group.row
            label(for="password").col-sm-2.col-form-label New Password
            .col-sm-5
                input(type="password" id="password" name="password").form-control
        
        
        .form-group.row
            .col-sm-5.offset-sm-2 
                input(type="submit" value="Update Password").btn.btn-primary
