extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug

block content
    .row
        .col-md-3
            include ../includes/menu.pug

        .col-md-9 
            include ../includes/slider.pug


            div(style="padding-top: 50px;").row
                if products.length > 0
                    each product in products 
                        +createProduct(product)
                else 
                    h1 THERE ARE NO PRODUCT