extends ../layouts/admin-layout.pug

block content
    .container      
        form(action="/admin/add-product" method="POST" enctype='multipart/form-data')
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            .form-group.row
                label(for="name").col-sm-2.col-form-label Name
                .col-sm-8
                    input(type="text" id="name" name="name").form-control
            
            .form-group.row
                label(for="image").col-sm-2.col-form-label Image
                .col-sm-8
                    input(type="file" id="image" name="image").form-control-file
            
            .form-group.row
                label(for="price").col-sm-2.col-form-label Price
                .col-sm-8
                    input(type="text" id="price" name="price").form-control

            .form-group.row
                label(for="categoryid").col-sm-2.col-form-label Category
                .col-sm-8
                    select( id="categoryid" name="categoryid").form-control
                        option(value='-1') Select category 
                        each category in categories     
                            option(value=`${category.id}`) #{category.name}

            .form-group.row
                label(for="description").col-sm-2.col-form-label Description
                .col-sm-8
                    textarea(name="description", cols="30", rows="10" id="editor").form-control
            
            
            .form-group.row
                .col-sm-10.offset-sm-2 
                    input(type="submit" value="Save Product").btn.btn-primary

        
        
block script 
    script(src='https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js')
    script(src='/js/script.js')