extends ../layouts/main-layout.pug

block content
    .container(style="padding-top:100px")
        if errorMessage
            div.alert.alert-danger.col-sm-7 #{errorMessage}     

        form(action="/login" method="POST")
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            .form-group.row
                label(for="email").col-sm-2.col-form-label Email
                .col-sm-5.pr-0
                    input(type="text" id="email" name="email").form-control
            
            .form-group.row
                label(for="password").col-sm-2.col-form-label Password
                .col-sm-5.pr-0
                    input(type="password" id="password" name="password").form-control
            
            
            .form-group.row.justify-between
                .col-sm-5.offset-sm-2 
                    input(type="submit" value="Login").btn.btn-primary.mr-2

                    a(href='/reset-password').btn.btn-primary Reset Password
                    a(href='/register').btn.btn-primary.ml-2 Register

                

