extends ../layouts/main-layout.pug

block content
    .container
      .row
        .col-md-3
          ul.nav.flex-column.nav-pills#myTab(role="tablist").account-nav
            li.nav-item
              a.nav-link.active(id="member-tab-tab", data-toggle="tab", href="#member-tab", role="tab", aria-controls="member-tab", aria-selected="true") Üye Bilgilerim
            li.nav-item
              a.nav-link(id="orders-tab-tab", data-toggle="tab", href="#orders-tab", role="tab", aria-controls="orders-tab", aria-selected="false") Siparişlerim
            li.nav-item
              a.nav-link(id="addres-tab-tab", data-toggle="tab", href="#addres-tab", role="tab", aria-controls="addres-tab", aria-selected="false") Adreslerim
            li.nav-item
              a.nav-link(id="password-tab-tab", data-toggle="tab", href="#password-tab", role="tab", aria-controls="password-tab", aria-selected="false") Şifre Değiştir
            li.nav-item
              a.nav-link(id="exit-tab-tab" href="/logout") Çıkış Yap
        .col-md-9
          .tab-content#myTabContent
            .tab-pane.fade.show.active(id="member-tab", role="tabpanel", aria-labelledby="member-tab-tab")
                .profile-form-container
                    form.profile-form.form-box#editProfile
                        input(type='hidden' name='Id' value='246')
                        h3.text-center Profilimi Düzenle

                        .profile-form-group-container
                            label.input-title Adı*
                            input.form-input.profile-input.p-1(type='text' id='name' name='Name' value='Tuğba')
                        .profile-form-group-container
                            label.input-title Soyadı*
                            input.form-input.profile-input.p-1(type='text' id='surname' name='Surname' value='Büyük')
                        .profile-form-group-container
                            label.input-title E-posta*
                            input.form-input.profile-input.p-1(type='text' id='Email' name='Email' value='tugba.buyuk@std.yildiz.edu.tr')
                        .profile-form-group-container
                            label.input-title Cep Telefonu*
                            input.form-input.profile-input.p-1(type='text' id='phone' name='Phone' value='5344065963')
                        p#email-error.d-none.text-center Bu Email daha önceden kayıtlı!
                        .profile-btn-container
                            a.profile-btn.editUser-btn Kaydet

            .tab-pane.fade(id="orders-tab", role="tabpanel", aria-labelledby="orders-tab-tab")
              h3 Tab 2 Content
              p This is the content of Tab 2.
            .tab-pane.fade(id="addres-tab", role="tabpanel", aria-labelledby="addres-tab-tab")
                .profile-form-container
                    .profile-addres-container
                        h3 Adreslerim
                        .addres-boxes
                            .addres-box
                                .addres
                                    h5 ev
                                    p Kadıköy/İstanbul / İstanbul - Kadıköy
                                .addres-options
                                    a.option-addres.delete-address(data-id='28') Sil
                            .addres-box
                                .addres
                                    h5 evvvv
                                    p Marmaris / Muğla - Marmaris
                                .addres-options
                                    a.option-addres.delete-address(data-id='29') Sil
                            .addres-box
                                .addres-options.new-addres-option
                                    a(option-addres data-bs-toggle='modal' data-bs-target='#action-AddAddressModal') + Yeni Adres Ekle

            .tab-pane.fade(id="password-tab", role="tabpanel", aria-labelledby="password-tab-tab")
              .profile-form-container
                form.profile-form.form-box#changePasswordForm(action="")
                    input(type="hidden", name="Id", value="246")
                    h3.text-center Şifre Değiştir
                    .profile-form-group-container
                        label.input-title#labelId(for="OldPassword") Eski Şifre*
                        input.form-input.profile-input(type="text", id="OldPassword", name="OldPassword")
                    .profile-form-group-container
                        label.input-title#labelId(for="newPassword") Yeni Şifre*
                        input.form-input.profile-input(type="text", id="newPassword", name="newPassword")
                    .profile-form-group-container
                        label.input-title#labelId(for="RepeatPassword") Yeni Şifre Tekrar*
                        input.form-input.profile-input(type="text", id="RepeatPassword", name="RepeatPassword")
                    .profile-btn-container
                        button.profile-btn.changepassword-btn(type="submit") Kaydet

              